/*
css injected into the doc page
*/

/* simple */
.modal-dialog.share-client-dialog[style*="233.5px"] {
	/*top: 160.5px !important;*/
	top: 160.5px !important;
}
.modal-dialog-content[style*="214px"] {
	/*height: 360px !important;*/
	height: 262px !important;
}
.modal-dialog-content[style*="215px"] {
	/*height: 360px !important;*/
	height: 262px !important;
}

/* link */
.modal-dialog.share-client-dialog[style*="239.5px"] {
	top: 200px !important;
}
.modal-dialog-content[style*="360px"] {
	height: 380px !important;
}

/* list */
.modal-dialog.share-client-dialog[style*="53px"] {
	top: 53px !important;
}
.modal-dialog-content[style*="535px"] {
	height: 535px !important;
}
